// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background-color: coral;
}
a, a:hover{
  color:  black;
  text-decoration: none;
}
.icon{
  font-size: 30px;
}

img{
  width: 100px;
}
